<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software development should not be a secret process, when I take on a new project I make it
  my goal to not only deliver a well crafted product but to also ensure that each stage of the process is fully communicated.</p>
  <p class="lead">
    <!-- Replace the button with ruby code -->
    <!--<a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>








<!-- Current user is a method from devise to check if an user is logged in -->

<!--<h1>Hi, <%= current_user.first_name %> </h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>

<hr>-->

<!-- The content tag we usually use it on the helper classes
  to make the code cleaner, and since it uses ruby code.
  We can then call it like this to render the view -->
<!--<%= content_tag :p, class: "my-special-class" do %>
  Hi, I'm in a paragraph tag
<% end %>
<%= sample_helper %>-->



