<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Insert meta tags directly from application_controller -->
    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <%= video_tag( 
                    "HardDrivePhotojpeg.mp4",
                 id: "background",
                 autoplay: true,
                 loop: true,
                 muted: true,
                 poster: "home_bg.png") %>
                <!--<p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>-->

                <!-- Make the nav bar available for all pages -->
                <!-- To use partials we must use render -->
                <!-- To use a different type of css, since it is shared, we had to declare
                  a local variable on _nav.html.erb file -->
                <!--<%= render "shared/nav", location: 'top' %>-->

                <!-- BOOTSTRAP PARTIAL NAVBAR -->
                <%= render "shared/application_nav" %>

                <!-- Yield is where the page we go to loads into -->
                <%= yield %>

                <%= render "shared/application_footer" %>

                <%= render "shared/alerts" %>

                <!-- this allows us to track the session source that came initially in the entire website -->
                <%= source_helper("application") %>
            </div>
        </div>
    </div>
  </body>
</html>
